Source: libcariad-icons-tutorial9mono
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-icons-tutorial9mono
Replaces: libdisplaycore-icons-tutorial9mono
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Icons
Depends: libcariad-core, libcariad-toolkit-monoicon
Provides: Tutorial9Mono.h
Description: Tutorial9Mono
 Tutorial9Mono icon set for the MonoIcon widget system



